<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dagangdaging">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DagangDaging">
        <activity
            android:name=".checkout"
            android:exported="false" />
        <activity
            android:name=".DetailPemesanan"
            android:exported="false" />
        <activity
            android:name=".DetailProduk"
            android:exported="false" />
        <activity
            android:name=".AddChart"
            android:exported="false" />
        <activity
            android:name=".Checkout"
            android:exported="false" />
        <activity
            android:name=".Kategori.bumbu_daging"
            android:exported="false" />
        <activity
            android:name=".Kategori.paket_daging"
            android:exported="false" />
        <activity
            android:name=".Kategori.daging_olahan"
            android:exported="false" />
        <activity
            android:name=".Kategori.daging_steak"
            android:exported="false" />
        <activity
            android:name=".Setting.SettingLogOut"
            android:exported="false" />
        <activity
            android:name=".Setting.SettingAbout"
            android:exported="false" />
        <activity
            android:name=".Setting.SettingChangePassword"
            android:exported="false" />
        <activity
            android:name=".Setting.SettingProfile"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ForgetPassword"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>